<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Project Create</h2>
                                </header>

                                <div class="panel-body">

                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form th:action="@{/project/update}" method="post" th:object="${project}">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="projectname" class="col-form-label">Project Name</label>
                                                    <input id="projectname" th:field="*{projectName}" type="text"
                                                           class="form-control" placeholder="project name">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('projectName')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('projectName')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="projectcode" class="col-form-label">Project Code</label>
                                                    <input id="projectcode" th:field="*{projectCode}" type="text"
                                                           class="form-control" placeholder="project code" readonly>
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('projectCode')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('projectCode')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label>Assigned Manager</label>
                                                    <select th:field="*{assignedManager}" class="custom-select">
<!--                                                        <option th:value="''" th:text="Select"></option>-->
                                                        <option th:each="manager : ${managers}"
                                                                th:value="${manager.userName}"
                                                                th:text="${manager.firstName + ' ' + manager.lastName}"></option>
                                                    </select>
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('assignedManager')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('assignedManager')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="startdate">Project Start Date</label>
                                                    <input id="startdate" th:field="*{startDate}" type="date"
                                                           class="form-control">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('startDate')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('startDate')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="enddate">Project End Date</label>
                                                    <input id="enddate" th:field="*{endDate}" type="date"
                                                           class="form-control">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('endDate')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('endDate')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="projectdetail">Project Detail</label>
                                                    <textarea id="projectdetail" th:field="*{projectDetail}"
                                                              class="form-control"
                                                              placeholder="project detail"></textarea>
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('projectDetail')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('projectDetail')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="float-right">
                                                    <button class="btn btn-success rounded-0" type="submit">Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->

                                </div>

                            </section>

                        </div>

                    </div>

                </div>


                <!-- ------------------------TABLE START----------------------------- -->

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Project List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Project Code</th>
                                                <th scope="col">Project Name</th>
                                                <th scope="col">Start - End Date</th>
                                                <th scope="col">Manager</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="project : ${projects}">
                                                <td th:text="${project.projectCode}"></td>
                                                <td th:text="${project.projectName}"></td>
                                                <td th:text="${#temporals.format(project.startDate,'MM.dd.yyyy') + '-' + #temporals.format(project.endDate,'MM.dd.yyyy')}"></td>
                                                <td th:text="${project.assignedManager.firstName + ' ' + project.assignedManager.lastName}"></td>
                                                <td th:text="${project.projectStatus.value}"></td>
                                                <td>
                                                    <a th:if="${project.projectStatus.value != 'Completed'}"
                                                       class="btn btn-warning rounded-0"
                                                       th:href="@{/project/complete/{id}(id=${project.getProjectCode()})}">Update
                                                    </a>
                                                    <a th:if="${project.projectStatus.value == 'Completed'}"
                                                       class="btn btn-warning rounded-0 disabled-button">Update
                                                    </a>
                                                    <a th:href="@{/project/delete/{id}(id=${project.getProjectCode()})}">
                                                        <button type="button" class="btn btn-danger rounded-0">Delete
                                                        </button>
                                                    </a>
                                                    <a th:if="${project.unfinishedTaskCounts == 0 && project.projectStatus.value != 'Completed'}"
                                                       class="btn btn-info rounded-0"
                                                       th:href="@{/project/complete/{id}(id=${project.getProjectCode()})}">Complete
                                                    </a>
                                                    <a th:if="${project.unfinishedTaskCounts > 0 || project.projectStatus.value == 'Completed'}"
                                                       class="btn btn-info rounded-0 disabled-button">Complete
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <!-- ------------------------TABLE END----------------------------- -->

            </div>

        </div>

    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>