<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">User Create</h2>
                                </header>

                                <div class="panel-body">

                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form th:action="@{/user/create}" method="post" th:object="${user}">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="firstname" class="col-form-label">First Name</label>
                                                    <input id="firstname" type="text" placeholder="first name"
                                                           th:field="*{firstName}" class="form-control">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('firstName')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('firstName')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="lastname" class="col-form-label">Last Name</label>
                                                    <input id="lastname" type="text" placeholder="last name"
                                                           th:field="*{lastName}" class="form-control">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('lastName')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('lastName')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="emailaddress" class="col-form-label">Email
                                                        Address</label>
                                                    <input id="emailaddress" type="text" placeholder="email address"
                                                           th:field="*{userName}" class="form-control">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('userName')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('userName')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="phonenumber" class="col-form-label">Phone Number</label>
                                                    <input id="phonenumber" type="tel" placeholder="phone number"
                                                           th:field="*{phone}" class="form-control">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('phone')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('phone')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="password" class="col-form-label">Password</label>
                                                    <input id="password" type="password" placeholder="password"
                                                           th:field="*{passWord}" class="form-control">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('passWord')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('passWord')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="repassword" class="col-form-label">Confirm
                                                        Password</label>
                                                    <input id="repassword" type="password"
                                                           placeholder="confirm your password" th:field="*{confirmPassWord}"
                                                           class="form-control">
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('confirmPassWord')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('confirmPassWord')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>Gender</label><br>
                                                    <label class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" name="gender" th:field="*{gender}"
                                                               th:value="MALE" class="custom-control-input"><span
                                                            class="custom-control-label">Male</span>
                                                    </label>
                                                    <label class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" name="gender" th:field="*{gender}"
                                                               th:value="FEMALE" class="custom-control-input"><span
                                                            class="custom-control-label">Female</span>
                                                    </label>
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('gender')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('gender')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>Choose a Role</label>
                                                    <select name="role" class="custom-select" th:field="*{role}">
                                                        <option th:value="''" th:text="Select"></option>
                                                        <option th:each="role : ${roles}"
                                                                th:value="${role.id}"
                                                                th:text="${role.description}"></option>
                                                    </select>
                                                    <div class="invalid-feedback"
                                                         th:if="${#fields.hasErrors('role')}">
                                                        <ul>
                                                            <li th:each="err : ${#fields.errors('role')}"
                                                                th:text="${err}"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-12">
                                                <div class="float-right">
                                                    <button type="submit" class="btn btn-success">Save</button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->

                                </div>

                            </section>

                        </div>

                    </div>

                </div>


                <!-- ------------------------TABLE START----------------------------- -->

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">User List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Email(username)</th>
                                                <th scope="col">Gender</th>
                                                <th scope="col">Phone</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                            </thead>

                                            <tbody>

                                            <tr th:each="user : ${users}">
                                                <td th:text="${user.firstName + ' ' + user.lastName}"></td>
                                                <td th:text="${user.userName}"></td>
                                                <td th:text="${user.gender.value}"></td>
                                                <td th:text="${user.phone}"></td>
                                                <td th:text="${user.role.description}"></td>
                                                <td class="actions">
                                                    <a th:href="@{/user/update/{id}(id=${user.userName})}">
                                                        <button type="button" class="btn btn-warning btn-sm">Update
                                                        </button>
                                                    </a>
                                                    <a th:href="@{/user/delete/{id}(id=${user.userName})}"
                                                       class="delete-row">
                                                        <button type="button" class="btn btn-secondary btn-sm">Delete
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <!-- ------------------------TABLE END----------------------------- -->

            </div>

        </div>

    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>