<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

    <!-- Required meta tags -->
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"/>

    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/circular-std/style.css}"/>

    <link rel="stylesheet" th:href="@{/assets/libs/css/style.css}"/>

    <link rel="stylesheet" th:href="@{/assets/vendor/fonts/fontawesome/css/fontawesome-all.css}"/>

    <link rel="stylesheet" th:href="@{/assets/vendor/charts/chartist-bundle/chartist.css}"/>

    <link rel="stylesheet" th:href="@{/assets/vendor/charts/morris-bundle/morris.css}"/>

    <link rel="stylesheet"
          th:href="@{/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css}"/>

    <link rel="stylesheet" th:href="@{/assets/vendor/charts/c3charts/c3.css}"/>

    <link rel="stylesheet"
          th:href="@{/assets/vendor/fonts/flag-icon-css/flag-icon.min.css}"/>

    <link rel="stylesheet"
          th:href="@{https://pro.fontawesome.com/releases/v5.10.0/css/all.css}"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous"/>

    <title>Cydeo - Spring Project</title>

</head>

<body>

</body>

</html>