<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<!--left-sidebar fragment-->
<div th:fragment="left-sidebar">
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider"></li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('Admin','Manager')">
                            <a class="nav-link active"
                               href="#"
                               data-toggle="collapse"
                               aria-expanded="false"
                               data-target="#submenu-1"
                               aria-controls="submenu-1">
                                <i class="fa fa-fw fa-user-circle"></i>Administration
                                <span class="badge badge-success">6</span>
                            </a>
                            <div id="submenu-1" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item" sec:authorize="hasAnyAuthority('Admin')">
                                        <a class="nav-link" th:href="@{/user/create}">User Create</a>
                                    </li>
                                    <li class="nav-item" sec:authorize="hasAnyAuthority('Manager')">
                                        <a class="nav-link" th:href="@{/project/create}">Project Create</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('Manager')">
                            <a class="nav-link"
                               href="#"
                               data-toggle="collapse"
                               aria-expanded="false"
                               data-target="#submenu-2"
                               aria-controls="submenu-2">
                                <i class="fas fa-chalkboard-teacher"></i>Manager
                            </a>
                            <div id="submenu-2" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/task/create}">Task Create
                                            <span class="badge badge-secondary">New</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/project/manager/project-status}">Project
                                            Status</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('Employee')">
                            <a class="nav-link"
                               href="#"
                               data-toggle="collapse"
                               aria-expanded="false"
                               data-target="#submenu-3"
                               aria-controls="submenu-3">
                                <i class="fas fa-user-graduate"></i>Employee
                            </a>
                            <div id="submenu-3" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/task/employee/pending-tasks}">Pending Tasks</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" th:href="@{/task/employee/archive}">Archive</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

</body>

</html>